.StickyNote{
    height: 300px;
    width: 300px;
    border: 1px solid black;

    .NoteContainer {
        padding: 10px;

        .header{
            display: flex;
            flex-direction: row;
            align-items:flex-end;
            justify-content: space-between;

            .stickynote-title{
                font-size: 2.5vh;
                color: brown;
                font-weight: 700;
            }

            .closeNote{
                font-size: 3vh;
                font-weight: 700;
                cursor: pointer;
                user-select: none;
            }
        }
    }
}